*{
    box-sizing: border-box;
    outline:0;
}
body{
    background-color: #00a06a;
    color: #fff;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
}
.tasks{
    margin-left: 300px;
}

h1{
    text-align: center;
}

.task-list{
    margin:10px 0;
}

input,
.task-item,
.task-detail,
button,
.task-detail-mask,
.task-detail textarea{
    border-radius: 3px;
    padding: 10px;
}

textarea,input[type=text],input[type=date]{
    display: block;
    width: 100%;
    border: 0;
    background: #f1f1f1;
    box-shadow: inset 0 3px 2px rgba(0,0,0,.3);
}
textarea:hover,
textarea:focus,
input[type=text]:hover,
input[type=date]:hover,
input[type=text]:focus,
input[type=date]:focus{
    background: #fff;
    box-shadow: inset 0 3px 2px rgba(0,0,0,.2);
}

button{
    display: inline-block;
    border: 0;
    cursor: pointer;
    color: #333;
}

.add-task input[type=text]{
    float: left;
    width: 84%;
    margin-right:1%;
}
.add-task button,
.remind button,
.msg button,
button.alert-button{
    width: 15%;
    background-color: #46b1e4;
    box-shadow:0 2px 3px rgba(0,0,0,.4);
    transition: background .3s;
}

.remind input,
.task-detail textarea{
    margin-top: 10px;
}

.remind button{
    float: right;
    margin: 20px;
}

.add-task button:hover{
    background: #50c8ff;
    border-radius: 8px;
}

.task-item{
    background: #fff;
    color: #333;
    margin-bottom: 5px;
    box-shadow:0 2px 3px rgba(0,0,0,.4);
    cursor: pointer;
    transition: background .3s;
}

.task-item.completed{
    color: #aaa;
    opacity: .8;

}

.task-item.completed:after{
    content: " ";
    background: #aaa;
    width: 88%;
    height: 2px;
    position: relative;
    top:-10px;
    right: -20px;
    display: block;
}

.task-item:hover{
    background: #e0e0e0;
}

.task-detail{
    position: absolute;
    padding: 10px;
    color: #333;
    background:#fff;
    bottom:0;
    right: 0;
    width: 50%;
    height: 100%;
    display: none;
    overflow: auto;
}

.task-detail .content{
    padding: 10px;
    font-weight:900;

}

.task-detail>*{
    margin-bottom:10px;
}

textarea{
    border: 0;
    height:130px;
    margin-bottom:10px;
}

.task-detail-mask{
    position: absolute;
    padding: 10px;
    background:rgba(0,0,0,.2);
    bottom:0;
    right: 0;
    left: 0;
    top: 0;
    display: none;
}

.action {
    color: #888;
    font-size:90%;
    margin-right: 10px;
}
.action:hover {
    color: #343434;
    font-size:90%;
}

.fr{
    float: right;
}

.task-content{
    margin-left:10px;
}

.msg {
    display: none;
    text-align: center;
    background:#ffe264;
    padding: 10px;
}
.msg span {
    display:block;
    color: #333;
    margin-bottom:10px;
}

.alerter{
    width: 0;
    height: 0;
}